<html>
<body>

[% INCLUDE templates/more.tt %]

<form action="u" method="post" enctype="multipart/form-data">
hello [% hello %]
file: [% file %]
upload: [% up %]
[% hid %]
host: [% hostport %]
[% inhe_val%]
<input type="submit" />
</form>
<form name="aa" method="post">
[% inv_up %]
<input type="submit" />
</form>
</body>
</html>
