<html>
<body>
<form method="post" action="u" enctype="multipart/form-data">
[% name %]
[% SWITCH swit_errors.name %]
[% CASE 'defined' %]
Name cannot be empty
[% CASE 'unique' %]
This name exists already
[% CASE 'custom' %]
custom encode
[% END %]
[% email %]
[% SWITCH swit_errors.email %]
[% CASE 'defined' %]
Email cannot be empty
[% CASE 'regexp' %]
Email is invalid
[% END %]

<hr />
[% FOREACH l IN sl %]
[% l.o %]
[% IF l.swit_errors.o %]
o integer
[% END %]
[% END %]

[% k1 %]
[% k2 %]
[% IF swit_errors.k1 == 'unique' %]
k1 uq k2
[% END %]

[% IF swit_errors.k2 == 'unique' %]
k2 uq k1
[% END %]

[% klak %]
[% IF swit_errors.klak == 'unique' %]
klak error
[% END %]

[% IF swit_errors.flak == 'unique' %]
flak error
[% END %]

[% IF swit_errors.scol == 'unique' %]
scol error
[% END %]

<input type="submit" />
</form>
</body>
<html>
